<nav class="header-style d-flex">
  <a class="home-link" routerLink="/">Home</a>
  <a routerLinkActive="active" routerLink="/posts">Posts</a>
  <a routerLinkActive="active" routerLink="/comments">Comments</a>
  <a routerLinkActive="active" routerLink="/albums">Albums</a>
  <a routerLinkActive="active" routerLink="/photos">Photos</a>
  <a routerLinkActive="active" routerLink="/todos">Todos</a>
  <a routerLinkActive="active" routerLink="/users">Users</a>
  <form class="data-from d-flex ms-auto">
    <small>Data from <i>jsonplaceholder.typicode.com</i></small>
  </form>
</nav>
